html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background-image:
    url('/static/images/login.jpg');
    background-size: cover;       /* 图像铺满容器 */
    background-position: -190px 0;  /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
}

@media (max-width: 576px) {
    body {
        background-image:
    url('/static/images/login.jpg');
    background-size: cover;       /* 图像铺满容器 */
    background-position: -600px 0;  /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    }

}

 .fade-up {
     animation: fadeUp 1.8s ease forwards;
 }

  @keyframes fadeUp {
     0% {
         opacity: 0;
         transform: translateY(20px);
     }
     20% {
         opacity: 1;
         transform: translateY(0);
     }
     80% {
         opacity: 1;
         transform: translateY(-10px);
     }
     100% {
         opacity: 0;
         transform: translateY(-20px);
     }
 }

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem ! important;
    --bs-modal-box-shadow: var(--bs-box-shadow);
  }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}